body {
    background-color: rgb(241, 239, 235);
    
}
.container {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: start;
    margin-top: 5rem;
}

.card {
    margin: 1rem;
    width: 18rem;
    
}

.card-img-top {
    width: 100%;
    height: 12rem;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: black;
}