*{
  margin: 0;
  padding: 0;
}
//cabeza
  herader,nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }
  
  herader,nav li{
    pading: 20px;
  }

  herader,.enlaces {
    float: left;
    margin-left:80px;
  }

  herader,.iconos{
    float: right;
    margin-right:80px;
  }
  
  herader,nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  herader,nav li a:hover {
    color: #5b5c52;
  }
  herader,#active {
    background-color: #04AA6D;
  }

//cuerpo
body{
  font-family: lora;
  background-color: #F0F0F0;
}
    hr{
      width:80%;
      margin:auto;
    }
    .contenedor {
        display: flex;
        width: 90%;
        margin:0 auto;
      }
      
        .izquierda, .derecha {
          flex: 1;
          padding: 10px;
          margin: 30px;
          width: 0px;
          text-align: center;
        }
        .izquierda * {
          margin: 0 auto;
          padding: 20px;
        }
        .izquierda h1{
          margin-top:80px;
        }
        .derecha img {
          width: 70%;
          height: auto;
          border-radius: 50%;
        }
        .descarga{
          background-color: #fee6e3;
        }
    .proyectos{
      width:80%;
      margin:auto;
      text-align:center;
      items-align:center;
      padding:10px;
  }
  .proyecto{
    margin:20px;
    padding:20px;
    width:150px;
    float:left;
    border:1px solid  black;
    border-radius:15px;
  }
      .titulop{
        margin:20px;
        padding:10px;
      }
      .proyecto img {
        width:100%;
      }

  //pie
footer{
    flex-shrink: 0;
    pading:20px;
    background: #D8D8D8;
    color: #6D6D6D;
    width: 100%;
    bottom: 0;
}
      .pie{
        width: 80%;
        margin: 0 auto;
    }
      footer p{
        line-height: 36px;
        padding: 10px;
        float: left;

    }
    footer ul {
        list-style-type: none;
        overflow: hidden;
      }
      footer li{
        pading: 20px;
      }

      .iconos{
        float: right;
        margin-right:80px;
      }

      footer li a {
        color: #6D6D6D;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      footer li a:hover {
        color: black;
      }
    
  

  .descarga {
    align-items: center;
    
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    
  }
  
  .descarga:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .descarga:hover:after {
    transform: translate(0, 0);
  }
  
  .descarga:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .descarga:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .descarga {
      padding: 0 40px;
    }
  }